mixin eventItem(dateDay, dateMonth, dateYear, title, time)
  .event
    .date
      span= dateDay
      span= dateMonth
      span= dateYear
    .details
      a(href="")= title
      .time
        i.far.fa-clock
        |  pukul: #{time}
    .icon
      i.far.fa-calendar-alt
