mixin prestasiItem(dateDay, dateMonth, dateYear, title, images, logoAlt)
  .event
    .date
      span= dateDay
      span= dateMonth
      span= dateYear
    .details
      a(href="")= title
    .prestasi-img
      img(alt=logoAlt src=images width="100%")